@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("../../fonts/GT-Walsheim-Pro-Regular.otf");
}

.book {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 20.7rem;
}

.image {
  -webkit-user-drag: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.25s;
}

.image:hover {
  transform: translatey(-5px);
}

.title {
  font-family: "GT Walsheim Pro Regular";
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.2;
}

.author {
  font-size: 1.6rem;
}

.price {
  font-size: 1.8rem;
}
