.button {
  padding: 2rem 3rem;
  display: flex;

  background-color: #fff;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  border: solid #000 2px;

  position: relative;
  text-decoration: none;
  color: #000;

  transition: all 0.2s;
}

.button:hover {
  box-shadow: 0 0 0 1px #000;

  .card-book1 {
    transform: skew(3deg, -3deg) translateY(-10px);
  }
  .card-book2 {
    transform: translateY(-10px);
  }
  .card-book3 {
    transform: skew(-3deg, 3deg) translateY(-10px);
  }
}

.icon {
  -webkit-user-drag: none;
}

.text {
  font-size: 2rem;
}

.card {
  width: 50%;
  height: 200%;
  position: absolute;
  inset: auto 0% 0% auto;
  overflow: hidden;
  transition: all 0.3s;
}

.card-book1 {
  z-index: 1;
  width: 72px;
  height: auto;
  min-width: 1.2rem;
  margin-bottom: -2rem;
  margin-right: 3vw;
  position: absolute;
  inset: auto 0% 0% auto;
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.card-book2 {
  z-index: 2;
  width: 63px;
  height: auto;
  min-width: 1.04rem;
  margin-bottom: -2rem;
  margin-right: 2.5vw;
  position: absolute;
  inset: auto 0% 0% auto;
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.card-book3 {
  z-index: 3;
  width: 67.5px;
  height: auto;
  min-width: 1.12rem;
  margin-bottom: -2rem;
  margin-right: 1vw;
  position: absolute;
  inset: auto 0% 0% auto;
  transition: all 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .button {
    padding: 1.5rem 2.5rem;
  }

  .button:hover {
    .card-book1 {
      transform: skew(3deg, -3deg) translateY(-5px);
    }
    .card-book2 {
      transform: translateY(-5px);
    }
    .card-book3 {
      transform: skew(-3deg, 3deg) translateY(-5px);
    }
  }

  .card {
    height: 300%;
  }

  .card-book1 {
    width: 67px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .card-book2 {
    width: 58px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .card-book3 {
    width: 62.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
}
/* 
@media (max-width: 914px) {
  .card-book1 {
    margin-right: 3.5vw;
  }

  .card-book2 {
    margin-right: 3vw;
  }

  .card-book3 {
    margin-right: 1vw;
  }
} */

@media (max-width: 700px) {
  .card-book2 {
    margin-right: 3.5vw;
  }
}

@media (max-width: 914px) {
  .card-book1 {
    margin-right: 4vw;
  }

  .card-book2 {
    margin-right: 4.5vw;
  }

  .card-book3 {
    margin-right: 1vw;
  }

  .text {
    font-size: 1.8rem;
  }
}
