.section {
  padding: 8rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: 135rem;
}

.text-large {
  font-size: 3.2rem;
  margin-bottom: 1.3rem;
}

.text-small {
  font-size: 2rem;
  margin-bottom: 4.6rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
}

@media (max-width: 1024px) {
  .features {
    row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
