@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../fonts/GT-Walsheim-Pro-Bold.otf");
}

.section {
  padding: 8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "GT Walsheim Pro Bold";
  font-size: 4.8rem;
  margin-bottom: 9rem;
}

.featured-books {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 8.4rem;
  row-gap: 7.5rem;
}

@media (max-width: 1355px) {
  .featured-books {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .featured-books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 540px) {
  .featured-books {
    grid-template-columns: repeat(2, 1fr);
  }
}
