.feature {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  align-items: center;
  /* width: 23rem; */
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  -webkit-user-drag: none;
}

.item {
  font-size: 1.8rem;
}

.text {
  font-size: 1.6rem;
  line-height: 1.5;
}
