@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../../../fonts/GTWalsheimPro-Medium.woff");
}

.header {
  font-family: "GT Walsheim Pro Medium";
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 2.8rem;
}

.pay-button {
  cursor: pointer;
  background-color: #000;
  width: 100%;
  padding: 1.4rem;
  border-radius: 5px;
  font-family: "GT Walsheim Pro Bold";
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0 3rem 0;
  transition: all 0.2s;
}

.pay-button:hover {
  background-color: #3c3c3c;
}

.pay-button:disabled {
  background-color: #3c3c3c;
}
