@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../../../fonts/GT-Walsheim-Pro-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../../../fonts/GT-Walsheim-Pro-Medium.otf");
}

.section {
  padding: 8rem;
}

.wrapper {
  display: grid;
  justify-content: center;
}

.header {
  font-family: "GT Walsheim Pro Bold";
  font-size: 4.8rem;
  margin-bottom: 9rem;
  justify-self: center;
  text-align: center;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 6rem;
  row-gap: 6rem;
  margin-bottom: 10rem;
  justify-self: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  transition: all 0.2s;
}

.explore:hover {
  font-family: "GT Walsheim Pro Medium";
}

.explore-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore-wrapper p {
  width: 11rem;
}

.icon {
  -webkit-user-drag: none;
}

@media (max-width: 1000px) {
  .book-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .book-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
