@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../../../fonts/GTWalsheimPro-Medium.woff");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../../../fonts/GT-Walsheim-Pro-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("../../../../fonts/GT-Walsheim-Pro-Regular.otf");
}

.section {
  padding: 8rem;
  max-width: 150rem;
  margin: 0 auto;
  min-height: 60rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.2rem;
}

.header {
  font-family: "GT Walsheim Pro Bold";
  font-size: 3.2rem;
}

.shopping {
  border-bottom: solid 1px #000;
  text-decoration: none;
  color: #3c3c3c;
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  transition: all 0.5s;
}

.shopping:hover {
  font-family: "GT Walsheim Pro Medium";
}

.content {
  display: grid;
  grid-template-columns: 4fr 5fr;
  column-gap: 10rem;
}

.cart-wrapper {
  width: 100%;
  max-width: 50rem;
}

.empty {
  font-size: 1.6rem;
}

.checkout-wrapper {
  max-width: 64rem;
  width: 100%;
}

.progress-wrapper {
  padding-top: 1.6rem;
}

.progress-wrapper p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: #3c3c3c;
}

.progress-bar {
  height: 8px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 0.5px #000;
  position: relative;
  margin-bottom: 1.6rem;
}

.progress {
  position: absolute;
  height: 6px;
  max-width: calc(100% - 2px);
  left: 1px;
  top: 1px;
  background-color: #000;
}

.checkout {
  border: solid 1px #efefef;
  padding: 3.2rem 0;
}

.checkout-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "GT Walsheim Pro Bold";
  font-size: 2rem;
  padding: 0 3.2rem;
}

.checkout-text {
  margin-bottom: 2.2rem;
  font-size: 1.2rem;
  color: #3c3c3c;
  padding: 0 3.2rem;
}

.checkout-button {
  display: grid;
  text-decoration: none;
  font-family: "GT Walsheim Pro Medium";
  background-color: #000;
  font-size: 1.2rem;
  height: 3.6rem;
  margin: 0 1.6rem 0 1.6rem;
  margin-bottom: 2.1rem;
  align-items: center;
  justify-items: center;
  color: #fff;
  transition: all 0.2s;
}

.checkout-button:hover {
  background-color: #3c3c3c;
}

.payments {
  padding: 0 3.2rem;
}

.payment-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.payment-list img {
  width: 3.6rem;
  height: 100%;
  -webkit-user-drag: none;
}

@media (max-width: 880px) {
  .content {
    grid-template-columns: 1fr;
    justify-items: center;

    row-gap: 5rem;
  }

  .checkout-wrapper {
    grid-row: 1/2;
  }
}
