@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../fonts/GTWalsheimPro-Medium.woff");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../fonts/GT-Walsheim-Pro-Bold.otf");
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
  overflow-y: hidden;
}

.section {
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
  overflow-y: hidden;
}

.search-header {
  padding: 8rem 12rem 0 12rem;
  margin-bottom: 4rem;
}

.header-input-wrapper {
  display: flex;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #000;
  position: relative;
  align-items: center;
}

.search-icon {
  margin-right: 2.5rem;
  -webkit-user-drag: none;
}

.input {
  width: 100%;
  border: none;
  font-size: 1.6rem;
}

.clear-icon {
  margin-right: 1.2rem;
  cursor: pointer;
  -webkit-user-drag: none;
}

.close-icon {
  position: absolute;
  right: 0;
  bottom: 6rem;
  cursor: pointer;
  -webkit-user-drag: none;
}

.search-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0 12rem 6rem 12rem;
  gap: 10rem;
}

.search-result {
  padding: 0 12rem 6rem 12rem;
}

.content-books {
  width: 100%;
}

.recent-header {
  font-family: "GT Walsheim Pro Medium";
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.recent-header-no-result {
  font-family: "GT Walsheim Pro Medium";
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.recents {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 1.8rem;
  line-height: 1.4;
  justify-content: flex-start;
  max-width: 20rem;
}

.recent-key {
  cursor: pointer;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.no-result {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  line-height: 1.4;
}

.no-result span {
  font-family: "GT Walsheim Pro Medium";
  overflow-wrap: break-word;
}

.books-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.books-header-title {
  font-size: 2rem;
  font-family: "GT Walsheim Pro Bold";
}

.books-header a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #3c3c3c;
  align-self: flex-start;
  padding-bottom: 0.3rem;
  border-bottom: 1.5px solid #000;
  cursor: pointer;
}

.books-init {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 5rem;
  row-gap: 20rem;
  height: 36rem;
}

@media (max-width: 1735px) {
  .books-init {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1735px) {
  .search-content {
    gap: 7rem;
  }
  .books-init {
    grid-template-columns: repeat(5, 1fr);
  }

  .search-header {
    padding: 8rem 8rem 0 8rem;
    margin-bottom: 4rem;
  }

  .search-content,
  .search-result {
    padding: 0 8rem 6rem 8rem;
    gap: 10rem;
  }
}

@media (max-width: 1300px) {
  .search-content {
    gap: 2rem;
  }
  .books-init {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .search-header {
    padding: 8rem 4rem 0 4rem;
    margin-bottom: 4rem;
  }

  .search-content,
  .search-result {
    padding: 0 4rem 6rem 4rem;
  }
  .books-init {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 585px) {
  .books-init {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 455px) {
  .content-books {
    display: none;
  }

  .content-recommendation {
    display: none;
  }

  .recents {
    max-width: 50rem;
  }
}
