@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../../../fonts/GT-Walsheim-Pro-Bold.otf");
}

.section {
  padding: 8rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.header {
  font-family: "GT Walsheim Pro Bold";
  font-size: 4.8rem;
  margin-bottom: 4rem;
}

.books-wrapper {
  display: flex;
  flex-direction: column;
}

.book-items {
  display: grid;

  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 8rem;
  margin-bottom: 6rem;
}

.modal {
  position: absolute;
  top: 50vh;
  left: 50vh;
}

@media (max-width: 850px) {
  .book-items {
    grid-template-columns: repeat(4, auto);
    gap: 6rem;
  }
}

@media (max-width: 610px) {
  .book-items {
    grid-template-columns: repeat(3, auto);
    gap: 6rem;
  }
}

@media (max-width: 450px) {
  .book-items {
    grid-template-columns: repeat(2, auto);
  }

  .header {
    text-align: center;
  }
}
