.wrapper {
  display: flex;
  grid-template-columns: auto auto;
  padding: 8rem;
  column-gap: 9rem;
  row-gap: 4rem;
  justify-content: center;
}

.header {
  font-family: "GT Walsheim Pro Bold";
  font-size: 4.8rem;
}
