@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../../fonts/GTWalsheimPro-Medium.woff");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../../fonts/GT-Walsheim-Pro-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("../../../fonts/GT-Walsheim-Pro-Regular.otf");
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.wrapper-left {
  justify-self: flex-end;
  max-width: 65rem;
  width: 100%;
}

.wrapper-right {
  background-color: #f5f5f5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 4rem;
  border-right: solid 1px #dedede;
  justify-content: flex-end;
}

.contact {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "GT Walsheim Pro Medium";
  font-size: 2.1rem;
  margin-bottom: 1.4rem;
}

.input {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
  padding: 1.35rem 1.1rem;
  border-radius: 5px;
  border: solid 1px#dedede;
  box-shadow: transparent;
}

.input:focus {
  border: 2px solid #000;
}

.checkbox {
  display: flex;
  margin-top: 2rem;
}

.checkbox p {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
  padding-left: 1.1rem;
}

.delivery {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.address-line-1,
.address-line-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.address-line-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}

.phone {
  display: grid;
  grid-template-columns: 1fr;
}

.payment {
  display: flex;
  flex-direction: column;
}

.shipping-method {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.header-secondary {
  font-family: "GT Walsheim Pro Medium";
  font-size: 1.6rem;
}

.method {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.method p {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
  padding: 1.35rem 1.1rem;
  color: #707070;
}

.text {
  font-size: 1.4rem;
  color: #707070;
  margin-bottom: 1.4rem;
}

.toggle-wrapper {
  background-color: #f5f5f5;
  border: solid 1px #dedede;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selector {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.selector p {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
}

.items {
  background-color: #f5f5f5;
}

/* start */

.credit-card {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #f5f5f5;
  border: solid 1px #dedede;
}

.toggle-credit-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  border: solid 1px #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.payments {
  display: flex;
  gap: 1rem;
}

.delivery-form-wrapper {
  padding: 1.4rem;
  /* height: 0; */
  /* display: none; */
}

.delivery-form-credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.credit-card-line-1,
.credit-card-line-3 {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
}

.credit-card-line-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
  width: 100%;
}

.paypal {
  background-color: #f5f5f5;
  border: solid 1px #dedede;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle-paypal {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  /* border: solid 1px #000; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.paypal-redirect-wrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;
  display: none;
}

.paypal-redirect {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.paypal-redirect p {
  font-size: 1.4rem;
}

.proceed-payment {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.pay-button {
  background-color: #000;
  width: 100%;
  padding: 1.4rem;
  border-radius: 5px;
}

.pay-button span {
  font-family: "GT Walsheim Pro Bold";
  font-size: 2rem;
  color: #fff;
}

.items-wrapper {
  max-width: 65rem;
  padding: 4rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.item-details {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.author {
  font-size: 1.2rem;
}

.price {
  font-family: "GT Walsheim Pro Medium";
  font-size: 1.4rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.discount {
  display: flex;
  gap: 1.4rem;
}

.discount input,
.discount button {
  font-family: "GT Walsheim Pro Regular";
  padding: 1.4rem;
  font-size: 1.4rem;
}

.discount-code {
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 100%;
}

.discount-button {
  cursor: pointer;
  font-family: "GT Walsheim Pro Medium";
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 1.4rem;
}

.subtotal,
.total {
  display: flex;
  justify-content: space-between;
}

.subtotal span {
  font-family: "GT Walsheim Pro Regular";
  font-size: 1.4rem;
}

.total span {
  font-family: "GT Walsheim Pro Medium";
  font-size: 2rem;
}
