@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url("../../../../fonts/GTWalsheimPro-Medium.woff");
}

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("../../../../fonts/GT-Walsheim-Pro-Bold.otf");
}

@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url("../../../../fonts/GT-Walsheim-Pro-Regular.otf");
}

.section {
  padding: 12rem;
}

.wrapper {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10rem;
  justify-self: center;
}

.image {
  -webkit-user-drag: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.25s;
  height: 100%;
  width: auto;
  justify-self: right;
}

.image:hover {
  transform: translatey(-5px);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.title {
  font-family: "GT Walsheim Pro Bold";
  font-size: 4.8rem;
  margin-bottom: 2.2rem;
}

.author {
  font-family: "GT Walsheim Pro Regular";
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.category-wrapper {
  margin-bottom: 2rem;
  margin-left: 2px;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.category {
  justify-self: start;
  font-size: 1.2rem;
  border: 1px solid #000;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  color: #000;
}

.category:hover {
  box-shadow: 0 0 0 1px #000;
}

.summary-container {
  max-height: 55rem;
  margin-right: -50px;
  padding-right: 50px;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.summary {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.button {
  display: flex;
  background-color: #000;
  height: 3.6rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #3c3c3c;
}

.button p {
  font-family: "GT Walsheim Pro Medium";
  color: #fff;
  font-size: 1.6rem;
}

@media (max-width: 1180px) {
  .wrapper {
    gap: 8rem;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    gap: 8rem;
  }
}

@media (max-width: 870px) {
  .wrapper {
    grid-template-columns: 1fr;
    max-width: 80rem;
  }
  .summary-container {
    max-height: none;
  }

  .image {
    height: 100%;
    width: 25rem;
    justify-self: center;
  }
  .title {
    text-align: center;
    font-size: 3rem;
  }
  .author {
    text-align: center;
    font-size: 2rem;
  }
  .category-wrapper {
    justify-content: center;
  }
}

@media (max-width: 870px) {
  .section {
    padding: 8rem;
  }
}

@media (max-width: 375px) {
  .section {
    padding: 5rem;
  }
  .button {
    padding: 1.5rem;
  }
}
